# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Local database / Docker data
.docker_data/
*.db
*.sqlite

# Large assets and model files
*.zip
*.mp4
*.avi
*.mkv
*.pt
*.onnx
*.weights
*.whl
dataset/
dataset_resource/

# IDE settings
.vscode/
.idea/

# Internal Briefing
briefing.md
